body {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    font-family: roboto, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    
}

.links {
    display: flex;
}

.box_first {
    display: flex;
    color: white;
}

.upleft {
    display: flex;
    flex-direction: column;
}

.box_second {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.carousel {
    display: flex;
}

.carousel_item {
    display: flex;
    flex-direction: column;
}

.box_third {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
}

.box_fourth {
    display: flex;
    background-color: white;
}

.cta_box {
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}